{% extends "base.html" %}

{% block content %}

<h3>Cases</h3>

<form method="POST" action="/cases/create" class="mb-3">

    <input class="form-control mb-2" name="case_name" placeholder="Case Name">

    <textarea class="form-control mb-2" name="description" placeholder="Description"></textarea>

    <button class="btn btn-primary">Create Case</button>

</form>

<hr>

<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>

    {% for c in cases %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.case_name }}</td>
        <td>{{ c.status }}</td>
        <td>{{ c.created_at }}</td>

        <td>
            <a href="/events/{{ c.id }}" class="btn btn-sm btn-info">
                View Events
            </a>
        </td>
		<td>
    <a href="/events/{{ c.id }}" class="btn btn-sm btn-info">
        Events
    </a>
<a href="/timeline/{{ c.id }}" class="btn btn-sm btn-success">
    Timeline
</a>
    <a href="/evidence/{{ c.id }}" class="btn btn-sm btn-warning">
        Upload Evidence
    </a>
</td>

    </tr>
    {% endfor %}

</table>

{% endblock %}