{% extends "base.html" %}

{% block content %}

<h2>Dashboard</h2>

<div class="alert alert-info">
    Welcome to CyberX DFIR Investigation Workspace
</div>

<div class="row">

    <div class="col-md-3">
        <div class="card p-3">
            Cases: 0
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            Evidence: 0
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            Events: 0
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3">
            Alerts: 0
        </div>
    </div>

</div>

{% endblock %}