{% extends "base.html" %}

{% block content %}

<a class="nav-link" href="/cases">Cases</a>

<table class="table table-dark table-striped">

    <thead>
        <tr>
            <th>Event ID</th>
            <th>Computer</th>
            <th>Severity</th>
            <th>Severity</th>
            <th>Details</th>
        </tr>
    </thead>

    <tbody>

        {% for e in events %}

        <tr>
            <td>{{ e.event_id }}</td>
            <td>{{ e.computer }}</td>
            <td>{{ e.severity }}</td>

            <td>
                {% if e.severity == "high" %}
                    <span class="badge bg-danger">HIGH</span>
                {% elif e.severity == "medium" %}
                    <span class="badge bg-warning text-dark">MED</span>
                {% else %}
                    <span class="badge bg-secondary">LOW</span>
                {% endif %}
            </td>

            <td>{{ e.details }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}